<script>
  import Editor from './lib/Editor.svelte';
</script>

<main>
  <div>
    <h1>Go Playground</h1>
  </div>

  <div class="container">
    <Editor />
  </div>

  <p>
    Check out <a href="https://github.com/sveltejs/kit#readme" target="_blank">Source Code</a>!
  </p>

  <p class="read-the-docs">
    Click on the Vite and Svelte logos to learn more
  </p>
</main>

<style>
  .read-the-docs {
    color: #888;
  }
  .container {
    padding-top: 3rem;
    background-color: #1e1e1e;
    border: 2px solid #3e3e42;
    border-radius: .8rem;
  }
</style>
